@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
img {
  max-width: 100%; }

.index, .index .presentacionProd {
  justify-content: center;
  align-items: center; }

.index h1 {
  color: pink;
  background: white;
  padding: 15px;
  margin: 2px;
  border-radius: 30px; }

.index .separadorIndex, main .separadorInd {
  display: flex;
  background-color: white;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.productosVistos, .productosDestacados {
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px; }

header {
  background-color: white; }
  header .separador {
    background-color: black;
    color: white;
    text-align: center; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: center; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      header nav ul a {
        display: block;
        padding: 8px;
        line-height: 50px;
        background: white;
        color: black;
        text-decoration: none; }
        header nav ul a:hover {
          background: pink;
          transition: .5s; }
    header nav .redesNav {
      display: flex; }

footer {
  background-color: white; }
  footer .contactanos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around; }

.mail {
  height: 27px;
  width: 27px;
  display: flex; }
  .mail:hover {
    background-color: lightblue; }

.ig {
  height: 27px;
  width: 27px;
  display: flex; }
  .ig:hover {
    background-color: pink; }

.fb {
  height: 27px;
  width: 27px;
  display: flex; }
  .fb:hover {
    background-color: blue; }

.tiktok {
  height: 27px;
  width: 27px;
  display: flex; }
  .tiktok:hover {
    background-color: grey; }

.wpp {
  height: 27px;
  width: 27px;
  display: flex; }
  .wpp:hover {
    background-color: green; }

footer .footer {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logoFooter footerNav contactanos"; }
  footer .footer .logoFooter {
    grid-area: logoFooter; }
  footer .footer .footerNav {
    grid-area: footerNav;
    padding: 30px 30px 20px 30px;
    color: black;
    background-color: white; }

footer h2 {
  font-weight: 400;
  font-size: 15px; }

footer li {
  list-style: none;
  padding-left: 0; }
  footer li a {
    text-decoration: none;
    color: #999; }

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    header .separador {
      display: none; }
    header nav {
      flex-direction: column; }
      header nav ul {
        flex-direction: column; } }

@media only screen and (max-width: 768px) {
  footer .footer {
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "footerNav" "contactanos"; }
    footer .footer .logoFooter {
      display: none; }
    footer .footer .footerNav {
      grid-area: footerNav; } }

@media only screen and (max-width: 768px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas: "about" "nosotrosFoto";
    text-align: center;
    font-size: 8px; }
    .nosotros .fondo {
      grid-area: fondo;
      max-width: 100%;
      height: 100px;
      font-size: 40px;
      flex-direction: column; } }

@media only screen and (max-width: 768px) {
  main {
    display: flex; }
    main .index .presentacionProd {
      grid-template-areas: "imgIndex" "textoIndex";
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr; }
      main .index .presentacionProd .imgIndex {
        grid-area: imgIndex; }
        main .index .presentacionProd .imgIndex .textoIndex {
          grid-area: textoIndex; }
    main .index main .separadorIndex {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
      background-color: #EFE5F4; }
    main .index main .separadorInd {
      flex-direction: column; }
  h1 {
    display: none; }
    h1 iframe {
      max-width: 100%; } }

.productosIndex {
  text-align: center; }

/*MEDIA QUERIE PRODUCTOS */
@media only screen and (max-width: 768px) {
  .categorias-items {
    min-width: 100%; }
  .productosDestacados {
    grid-template-columns: 1fr; } }

body {
  font-family: 'Roboto', sans-serif; }

.index {
  display: flex;
  flex-direction: column; }
  .index h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.index .presentacionProd {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "imgIndex ." ". textoIndex";
  padding: 15px;
  text-align: center; }
  .index .presentacionProd .imgIndex {
    grid-area: imgIndex; }
    .index .presentacionProd .imgIndex .textoIndex {
      grid-area: textoIndex; }

.index .separadorIndex {
  background-color: white; }

main .separadorInd {
  background-color: #EFE5F4;
  padding: 40px; }
  main .separadorInd p {
    text-align: center; }

.gridPrincipal .categorias {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap; }

.gridPrincipal p, .gridPrincipal a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
  color: white; }
  .gridPrincipal p:hover, .gridPrincipal a:hover {
    background: pink;
    transition: .5s; }

.gridPrincipal a {
  text-decoration: none; }

.tituloProd {
  text-align: center; }

.categorias-items {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 33.33%;
  border: 3px solid white;
  box-sizing: border-box;
  height: 300px;
  background-size: cover;
  background-position: center; }

.prodDestItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box; }

.prodDestItem {
  height: 500px;
  background-size: cover;
  background-position: center; }

.productosVistos {
  grid-template-columns: 1fr 1fr; }

.productosDestacados {
  grid-template-columns: 1fr 1fr 1fr; }

@media only screen and (max-width: 768px) {
  .categorias-items {
    min-width: 100%; }
  .productosDestacados {
    grid-template-columns: 1fr; } }

.gridabout {
  display: grid;
  grid-template-areas: "izq article der";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto; }
  .gridabout .izq {
    grid-area: izq;
    background-color: red; }
  .gridabout article {
    grid-area: article;
    background-color: yellow; }
  .gridabout .der {
    grid-area: der;
    background-color: blue; }
